@font-face {
    font-family: "nasalization-rg" ;
    src: url(nasalization-rg.ttf);
} 

@font-face {
    font-family: "OpenSans-Regular";
    src: url(OpenSans-Regular.ttf)
}

html {
    font-size: 14px;
    font-family: "OpenSans-Regular";
    background-color: #f2f2f2;
}

body {
    text-align: center;  
}

header {
    background-image: url(texture-header.jpg);
    vertical-align: 150px;
}

h1 {
    font-family: "nasalization-rg";
    font-size: 40px;
    color: #27d1ff;
    height: 90px;
    line-height: 90px;
    text-align: center; 
}

nav {
    display: inline-block;
    background-color: #2e2f30;
    padding-right: 50px;
    margin: 0px;
    color: white; 
    text-align: right;
    vertical-align: middle;
}

a:hover {
    color: #17c1ff;
    text-decoration:#17c1ff;
    font-weight: bold;
    }

footer {
    align-items: center;
}

h2 {
    text-transform: uppercase;
        text-shadow: 0px 0px 9px #777;
    color: rgb(32, 151, 219);
}

#block1 {
    color: #3b6674;
    align-items: center;
    text-align: center;
    padding: 10px;
}
p {
    text-align: center;
}

.planning {
    height: 480px;
    overflow-y: scroll;
}

fieldset {
    width: 810px;
    text-align: center;
    padding: 8px;
    font-family: "OpenSans-Regular";
    margin: 0 auto;
    border: 1px solid #e6e6e6;
}

nav {
    color: #17c1ff;
}